# Custom
_site

# Ant
MANIFEST.MF
./*.jar
build.num
*.class
build

# ADT
.classpath
.project
.settings
local.properties
bin
gen
_layouts
proguard.cfg

# OSX
.DS_Store

# Github
gh-pages

# Gradle
.gradle

# IDEA
*.iml
*.ipr
*.iws
out
.idea

# Maven
target
release.properties
pom.xml.*
